/app/google-services.json

*.jks
*.keystore

/build
/app/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.jar

*.iml
/.idea/

.gradle
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties

/local.properties
local.properties
.DS_Store

*.log
*.hprof